@model IEnumerable<MovieSite.DAL.Model.Movie>

@{
    ViewData["Title"] = "Complete movie list";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KidFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <b> @Html.DisplayFor(modelItem => item.Title)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KidFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbScore)
            </td>
            <td>
               @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary btn-large" } )
                    <br /> @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-large" })
                    <br /> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-large" })
            </td>
        </tr>
}
    </tbody>
</table>
